<ul>
  <% quotes.forEach(function(quote) { %>
      <li class="quote-box">
        <span className='quote'>"<%= quote.quote %>"</span>
        <span className='work'><%= quote.work %></span>
        <span className='act'><%= quote.act %></span>
        <span className='scene'><%= quote.scene %></span>    
        <span className='tags'>Tags: displayTags(<%= quote.tags %>)</span>      
      </li>
  <% }); %>
</ul>